p{
    color: rgb(14, 158, 122);

}
h1{
    color:rgba(202, 20, 81, 0.774);
    text-align: center;
    font-size:40px;
    background-color:bisque;
    

}
.img{
    
    height: 200px;
    width: 200px;
    padding: 20px;
   
    
}
.ba{
    height: 500px;
    width: 400px;
}